@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "typography.scss";

@font-face {
  font-family: "Inter";
  src: url("/inter-variable.ttf") format("truetype");
}

* {
  font-family: "Inter";
}

.full-height-fix {
  height: 100vh; /* fallback in case (s)mallest (v)iew (h)eight is not supported */
  height: 100svh;
}
