@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "typography.scss";

@font-face {
  font-family: "Inter";
  src: url("/inter-variable.ttf") format("truetype");
}

* {
  font-family: "Inter";
}
