/* Variable font weight */
.font-100 {
  font-variation-settings: "wght" 100;
}
.font-200 {
  font-variation-settings: "wght" 200;
}
.font-300 {
  font-variation-settings: "wght" 300;
}
.font-350 {
  font-variation-settings: "wght" 350;
}
.font-400 {
  font-variation-settings: "wght" 400;
}
.font-500 {
  font-variation-settings: "wght" 500;
}
.font-600 {
  font-variation-settings: "wght" 600;
}
.font-700 {
  font-variation-settings: "wght" 700;
}
.font-800 {
  font-variation-settings: "wght" 800;
}
.font-900 {
  font-variation-settings: "wght" 900;
}

.heading {
  font-variation-settings: "wght" 900, "slnt" -10;
}
